html,*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    padding: 15px 25px;
    color: white;
    border: none;
    background-color: #27AD6C;
    font-size: 16px;
     border-radius: 4px;
}

a,li{
    list-style: none;
    text-decoration: none;
    color: white;
}



header{
    background-image: url("../img/547250750.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 998px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    background-color: #406B55;
    height: 998px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;

}

.header{
display: flex;
justify-content: space-between;
position: absolute;
top: 51px;
width: 100%;
z-index: 1;
}



.header_logo
{
    margin-left:5%;
}

nav>ul{
    display: flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
nav>ul>li{
    margin: 0 15px;
}


.hero_text{
    color: white;
    width: 492px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.hero_text p{
    margin-top: 20px;
    opacity: 70%;
}

/* MAIN AREA */


main{
    margin-top: 7%;
}

main a{

color: green;
}

/* what you should have */

.what_you_should_have{
    display: flex;
    flex-direction: column;
    
}
.title{
    display: flex;
    justify-content: center;
}
.card_section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card_section img {
    width: 100%;
    height: auto;
}


._card{
    width: 200px;
    margin: 0 4% 4% 4%;
}
._card > h4{
    color: #27AD6C;
    margin-top: 20px;
}

._card > p{
    color: #4A4A4A;
    margin-top: 10px;

}


/* .web_icon{
    position: relative;
    top: 6;
    right: 3;
} */




/*NEWS */

.news{
    display: flex;
justify-content: space-around;
}

.resources{
    width: 367px;

}

.resources > ul >hr{
    margin: 20px 0;
}

.latest > ul >hr{
    margin: 15px 0;
}

.news_footer_icon
{
display: flex;
justify-content: center;
align-items: center;
margin: 5% 2% 5% 0;
}

.news_dateandtime {
    color: #9B9B9B;
    line-height: 15px;
    font-size: 13px;
    text-transform: uppercase;
    opacity: 0.5;
    font-weight: normal;
    font-style: normal;
}

.vl{
    border-left: 3px solid #88C542;
    height: 345px;
}

.news_footer_icon>hr{
    width: 123px;
    margin:0 3% ;
    background-color: #88C542;
}

/* RANDOM IMAGES */

.some_random_images{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.photos img {
    width: 449px;
}

/* WHAT WE PROVIDE */

.what_we_provide{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #423633;
    color: white;
}

.facilities_detail{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 10%;
}

.card{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    max-width: 300px;

}
.card_shape img{
    padding-right: 12px;
}

.card_body p{
    opacity: 0.5;
    font-size: 16px;
    margin-top: 3%;
}

/* FOOTER */

.footer_container{
    display: flex;
    justify-content: space-between;
    background-color:#333333;
    color: white;
    font-size: 14px;
}
.footer_container *{
    padding: 5px 0;
}

@me